<% if movie.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%=pluralize(movie.errors.count,"項目入力エラーです") %></h4>
        <p>投稿できませんでした </p>
        <hr>
        <p class="mb-0">
            <% movie.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </p>
    </div>
<% end %>