<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto" style="text-align: center">
      <h3><strong>波のりくらべ</strong></h3>
      <h3><strong><ご挨拶></strong></h3>
      <br>
      <ul>
      <li>サーフィンをこよなく愛するみなさま、こんにちは！</li>
      <br>
      <li>2020年。コロナの影響で、海での交流が減ってしまったのではないでしょうか？</li>
      <br>     
      <li>そんななかで...。</li>
      <br>
      <li>練習の成果を披露したい！</li>
      <li>日頃の練習の成果を披露したい！</li>
      <li>ライバルの現状を確認したい！</li>
      <br>
      <li>そんなあなたのご要望にお答えすべく、</li>
      <br>
      <li>サーフィン動画投稿サイト”波のりくらべ”を立ち上げました。</li>
      <br>
      <li>皆様にライディングをアップロードしていただき、</li>
      <li>いいね！ができるサイトです。</li>
      <br>
      <li>アップロードは無料です。</li>
      <li>みなさまの投稿をお待ちしております！</li>
      <br>
      <br>
      <li>２０２０年１１月１日 管理人より</li>
      </ul>
    </div>
  </div>
</div>