<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto" style="text-align: center">
      <h3><strong>波のりくらべ</strong></h3>
      <h3><strong><ご挨拶></strong></h3>
      <br>
      <ul>
      <li>M Univ.サーフィン部のみなさま、こんにちわ！</li>
      <br>
      <li>2020年のM杯は残念ながら、中止となってしまいました。</li>
      <br>     
      <li>練習の成果を披露したい！</li>
      <li>ライバルの現状を確認したい！</li>
      <li>そんなあなたのご要望にお答えすべく！</li>
      <br>
      <li>”波のりくらべ”をつくりました！</li>
      <br>
      <li>皆様にライディングをアップロードしていただき、</li>
      <li>いいね！ボタンで評価できるサイトです！</li>
      <br>
      <li>ライディングのアップロードは無料です。</li>
      <li>ご参加、こころよりお待ちしております！</li>
      <br>
      <br>
      <li>管理人 １６期 加藤より</li>
      </ul>
    </div>
  </div>
</div>