<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto" style="text-align: center">
      <h3><strong>波のりくらべ</strong></h3>
      
      <h3><strong><動画登録方法></strong></h3>
        <br>
          <div class="txt">
            <ul>
              <li>1.YouTubeにライディング動画をアップ!</li>
              <br>
              <li>2.当サイト”新規投稿”ボタンをクリック！</li>
              <br>
              <li>3.入力お願いします！</li>
              <li>　1) ライダー名</li>
              <li>　2) 撮影日時（半角整数のみ：例 2020年９月２０日の場合=>20200920)</li>
              <li>　3) YouTube動画の”共有”ボタンクリックし、</li>
              <br>
              <%= image_tag 'YouTube_Share_button.jpg', class: "photo", :size=>'353x277', alt:'Video_share_button' %>
              <br>
              <li>　4) "Video_id"（urlの下１１桁）をコピペ入力してください！</li>
              <br>
              <%= image_tag '20201006_6_00-7_30_am_Skepa_TeiBo__-_YouTube.jpg', class: "photo", :size=>'349x219', alt:'Video_id' %>
              <br>
              <li>　5) ライディングアピールポイントをどうぞ！</li>
              <br>
              <li>4."Create Movie"ボタンを押して、投稿！</li>
              <br>
              <li>5.動画が投稿一覧にアップロードされます!</li>
            </ul>
          </div>
    </div>
  </div>
</div>