<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto" style="text-align: center">
      <h3><strong>波のりくらべ</strong></h3>
      <h3><strong><お問い合わせ></strong></h3>
      
        <%= form_for queston do |f| %>
      <div class='form-group'>
        <label>お名前</label>
        <%=f.text_field :name, class: 'form-control'%>
      </div>
      
      <div class='form-group'>
        <label>質問内容</label>
        <%=f.text_field :place, class: 'form-control'%>
      </div>
      
      
      <div class='form-group'>
        email == current user email 
        <% f.text_field :email, class: 'form-control'%>
      </div>
      
      <div>
        <%= f.submit class: "btn btn-success" %>
      </div>
      
    <% end %>
      
    </div>
  </div>
</div>