<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto" style="text-align: center">
      <h3><strong>波のりくらべ</strong></h3>
      <p>＜M大学サーフィンクラブ限定サイトとなります＞</p>
      <br>
      <p>M大サーフィン部OBOG現役のみなさま！</p>
      <p><strong>波のりくらべ</strong>へようこそ！</p>
      <p>最近、皆とサーフセッションができない、とお嘆きのあなた！！</p>
      <p>YouTube動画を投稿し、ライバルにアピールしませんか？？？</p>
      <%= image_tag 'surf-1245757_1920.jpg', class: "photo", :size=>'896x504', alt:'波画像' %>
    </div>
  </div>
</div>