<div class="container">
  <div class="row">
    <div class="col-xs-8 bg-photo> 
      <%= image_tag 'AdobeStock_left_tube.jpg', class: "photo_left_tube" %>
    </div>
    <div class="col-xs-4 bg-explanation>  
    "説明"    
    </div>
  </div>
</div>