<div class="container">
  <div class="item">
    <h3>投稿方法</h3>
      <h4>スマホからのアップ方法を記載します<h4>
        <h5>YouTubeへの投稿</h5>  
          <ol type="1">
            <li>ご自身のライディングをスマホでどなたかor三脚にスマホを付けて撮影</li>
            <li>スマホのYouTubeアプリを開き、画面右上のビデオカメラのボタンをタップ</li>
            <li>撮影したアップロードする動画を選択（iphoneだと下部真ん中の”円十文字”をタップすると”動画のアップロード”がでます）</li>
            <li>トリミング（不要部分削除）後、</li>
            <li>タイトルや説明入れてアップロード！</li>
          </ol>
        
        <h5>”なみのりくらべ”への投稿</h5>  
          <ol type="1">
            <li>スマホのYouTubuアプリから</li>
            <li>右下のライブラリをクリック</li>
            <li>自分の動画へ</li>
            <li>投稿したい動画をクリック</li>
            <li>動画の下にある共有矢印をクリック</li>
            <li>コピーする</li>
            <li>波のりくらべにログイン後に<%= link_to 'こちら', new_movie_path %>の投稿サイトへ！</li>
            <li>YouTube URL欄にペースト</li>
            <li>リンクの下１１桁を残し、削除<li>
            <li>ライダー名入力<li>
            <li>撮影日時を数字のみで 例：20201108(年月日)で入力<li> 
            <li>撮影場所を可能な範囲で入力<li> 
            <li>コメント：該当ライディングにかける思い等、入力願います！<li> 
            <li>”登録する”ボタンをポチっで投稿完了です！<li>
            <li>投稿者のみ削除が可能です。</li>
            <li>いいねボタンも一人一回まで。お疲れ様でした！</li>
          </ol>  
  </div>
</div>