<div class="main-container">
  <div class="bg_index"></div>
    <div class="sub-container_index">
      <h3>M大学サーフィン部OBOGのみなさまへ</h3>
      
      <br>
        <ul>
          <h4>波のりくらべ"へようこそ！</h4>
          <hr width="60%" size="20" noshade="">
          <li>２０２０年のM杯は残念ながら中止となりました。</li>
          <li>練習成果を披露できる大会が無くなり、がっくり、でしたね。</li>
          <br>
          <li>そこで、ネットでライディングを投稿できるサイトをつくりました！</li>
          <li>方法は、YouTubeにみなさまの動画をアップしてもらい</li>
          <li>リンクをこのサイトに投稿すれば、ライディング動画が一覧できる、というサイトです。</li>
          <br>
          <li>アップ方法はログイン後に<%= link_to 'こちら', homes_how_to_path %>でご確認ください！</li>
          <li>YouTubeリンク等のアップは、ログイン後に<%= link_to 'こちら', new_movie_path %>から！</li>
          <li>たくさんライディングのアップをお待ちしております！</li>
          <br>
          <li>管理人：１６期 加藤<i class="far fa-laugh-wink"></i></li>
        </ul> 
  </div>
</div>
