<div class="container">
  <div class="item">
    <h3>M大学サーフィン部OBOGのみなさまへ</h3>
    <ul>
      <br>
      <li>"波のりくらべ"へようこそ！</li>
      <br>
      <li>２０２０年のM杯は残念ながら中止となりました。</li>
      <li>ライバルに練習の成果を披露できる場がなくない、がっかり、の方も多いと思います。</li>
      <br>
      <li>そこで、ネット上でライディングを見せ合う場をつくることにしました！</li>
      <li>まずYouTubeにみなさまの動画をアップしてもらい</li>
      <li>リンクをこのサイトに投稿し、ライバル達に見せつけませんか？</li>
      <br>
      <li>アップ方法はログイン後に<%= link_to 'こちら', homes_how_to_path %>でご確認ください！</li>
      <li>YouTubeリンクのアップは、ログイン後に<%= link_to 'こちら', new_movie_path %>から！</li>
      <li>たくさんライディングのアップをお待ちしております！</li>
    </ul> 
  </div>
  
  <div class="item">
    <%= image_tag 'AdobeStock_left_tube.jpeg', :size => '512x288', :alt => "サーフィン写真" %>
  </div>  
</div>
